*{
    margin: 0;
    padding:0;
}
/* navbar section styles */
.nav-section{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    text-align: center;
    padding: 18px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight:600px;
    color: cyan;
}
.logo{
    width: 200px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.menu-item{
    list-style: none;
    margin-right: 10px;
    font-size: 19px;
    cursor: pointer;
    padding: 15px;
}
/* this is banner section styles */
.banner-container{
    height: 100vh;
    width: 100%;
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position:center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.banner-title{
    font-size: 86px;
    font-weight: 600px;
    color: white;
}
.digital{
    color: red;
}
.banner-description{
    width:50%;
    font-size: 22px;
    margin: auto;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
.btn{   
    padding: 15px 35px;
    border: none;
    font-size: 17px;
    margin: 5px;
}
.btn-more{
    background-color: red;
    color: white;     
}
/* this is service section */
.service-container{
    width: 100%;
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background-position:cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin:0 auto;
    color: white;
    /* align-items: center; */
   justify-content: space-around;
   /* text-align: center; */
   padding: 40px;
}
.service-btn{
    border-radius: 25px;
}
.sevice-description{
    width: 50%;
}
.left-side-contain{
    width: 50%;
    /* margin-left: 25px; */
}